<title>Admin Page</title>
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
</script>

<script>
  $(document).ready(function () {

      $("#submitEditButton").click(function () {
        $("#editPosition").submit();
        alert("Changes confirmed!");
      });

      $("#deleteButton").click(function () {
        $("#deletePerson").submit();
        alert("Changes confirmed!");
      });
    });
      </script>

<style>
  body{
  background-color: grey;
}
</style>

<nav class="teal">
  <div class="nav-wrapper">
    <a class="brand-logo right"><img class="responsive-img" src="/images/HAART-2.png"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/dataVisualizationPage">Data Visuals</a></li>
      <li><a href="/form">Form</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="card-panel grey lighten-1">
  <h6>Welcome back {{user}}!</h6>
  <h5>Facilitators Management Page</h5>
  <!-- Facilitator List -->
  <div class="col s12"><span class="flow-text">
      <ul class="collection">
        {{#each accounts}}
          <li class="collection-item">{{this.firstName}}
            <!-- Modal Trigger To View Profile -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal2{{firstName}}{{lastName}}{{type}}">Click To See Profile</a>

            <!-- Modal Structure View Profile -->
            <div id="modal2{{firstName}}{{lastName}}{{type}}" class="modal">
              <div class="modal-content">
                <h4>{{this.firstName}} {{this.lastName}}</h4>
                <!-- <p>Last Logged In:</p>
        <p>Log In Times:</p>
        <p>Country:</p>
        <p>Join Date:</p> -->
                <p>Position: {{this.type}}</p>
                <p>Last Logged In: {{this.lastLogged}}</p>
                <!-- <p>Work Experience:</p> -->
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>


            <!-- Modal Trigger To Edit -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal3{{firstName}}{{lastName}}{{type}}">Edit</a>

            <!-- Modal Structure Edit Country -->

            <!-- <div id="modal5" class="modal">
          <div class="modal-content">
            <select class="browser-default">
            <option value="" disabled="" selected="">Select Country</option>
            <option value="1">United States</option>
            <option value="2">United Kingdom</option>
            <option value="3">Kenya</option>
        </select>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enter</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>

      <div id="modal6" class="modal">
          <div class="modal-content">
             <input id="join_date" type="text" class="datepicker">
             <label for="join_date">Join Date</label>
        </select>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enter</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div> -->

            <!-- Modal Structure Edit Position -->
            <div id="modal7{{firstName}}{{lastName}}{{type}}" class="modal">
              <form action="/adminEdit" method="post" id="editPosition" enctype='application/x-www-form-urlencoded'>
                <div class="modal-content">
                  <select class="browser-default" name="editPos">
                    <option value="1">Facilitator</option>
                    <option value="2">Admin</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button class="modal-close waves-effect waves-green btn-flat" id="submitEditButton">Enter</button>
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
                <input style="display:none"id="user" name="user" value="{{this.username}}"></input>
              </form>
            </div>

            <!-- Modal Structure Edit Work Experience -->
            <!-- <div id="modal8" class="modal">
          <div class="modal-content">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Work Experience</label>
                  </div>
        </select>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enter</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div> -->



            <!-- Modal Structure Edit -->
            <div id="modal3{{firstName}}{{lastName}}{{type}}" class="modal">
              <div class="modal-content">
                <h4>{{this.firstName}} {{this.lastName}}</h4>

                <!-- Modal Trigger To Edit Country -->
                <!-- <button data-target="modal5" class="btn modal-trigger">Edit Country</button> -->

                <!-- Modal Trigger To Edit Join Date -->
                <!-- <p>
            <button data-target="modal6" class="btn modal-trigger">Edit Join Date</button>
            </p> -->

                <!-- Modal Trigger To Edit Position -->
                <p>
                  <button data-target="modal7{{firstName}}{{lastName}}{{type}}" class="btn modal-trigger">Edit Position</button>
                </p>

                <!-- Modal Trigger To Edit Work Experience -->
                <!-- <p>
            <button data-target="modal8" class="btn modal-trigger">Edit Work Experience</button>
            </p> -->
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>

            <!-- Modal Trigger To Delete -->
            {{#if this.valid}}
            <a class="waves-effect waves-light btn modal-trigger" href="#modal4{{firstName}}{{lastName}}{{type}}">Disable Account</a>
            <div id="modal4{{firstName}}{{lastName}}{{type}}" class="modal">
              <form action="/adminDelete" method="post" id="deletePerson" enctype='application/x-www-form-urlencoded'>
              <div class="modal-content">
                <h4>{{this.firstName}} {{this.lastName}}</h4>
                <p>Are you sure you want to disable this user?</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                <button class="modal-close waves-effect waves-green btn-flat" id="deleteButton">Yes</button>
                <input style="display:none"id="user" name="user" value="{{this.username}}"></input>
                <input style="display:none"id="disable" name="disable" value="disable"></input>
              </div>
            </form>
            </div>
            {{else}}
            <a class="waves-effect waves-light btn modal-trigger" href="#modal4{{firstName}}{{lastName}}{{type}}">Enable Account</a>
            <div id="modal4{{firstName}}{{lastName}}{{type}}" class="modal">
              <form action="/adminDelete" method="post" id="deletePerson" enctype='application/x-www-form-urlencoded'>
              <div class="modal-content">
                <h4>{{this.firstName}} {{this.lastName}}</h4>
                <p>Are you sure you want to enable this user?</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                <button class="modal-close waves-effect waves-green btn-flat" id="deleteButton">Yes</button>
                <input style="display:none"id="user" name="user" value="{{this.username}}"></input>
                <input style="display:none"id="enable" name="enable" value="enable"></input>

              </div>
            </form>
            </div>
            {{/if}}
            <!-- Modal Structure View Profile -->

          </li>
        {{/each}}
      </ul>
    </span>

    <!-- Add Facilitator Modal Trigger -->
    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1{{firstName}}{{lastName}}{{type}}">Add Facilitator</a>

    <div id="modal1{{firstName}}{{lastName}}{{type}}" class="modal">
      <div class="modal-content">
        <h4>Add Facilitator Information</h4>

        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s7">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s7">
                <input id="join_date" type="text" class="datepicker">
                <label for="join_date">Join Date</label>
              </div>

              <select class="browser-default">
                <option value="" disabled="" selected="">Select Country</option>
                <option value="1">United States</option>
                <option value="2">United Kingdom</option>
                <option value="3">Kenya</option>
              </select>

              <select class="browser-default">
                <option value="" disabled="" selected="">Select Position</option>
                <option value="1">Senior Facilitator</option>
                <option value="2">Intern Facilitator</option>
              </select>

              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Work Experience</label>
                    </div>
                  </div>
                </form>
              </div>


            </div>
          </form>



        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add</a>
        </div>
      </div>

    </div> -->
  </div>
</div>



<!-- Add Facilitator Modal Initialization -->
<script language="JavaScript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function() {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  // Or with jQuery

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
